#adminForm {
	margin: 0 0 0 0 !important;
}



/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-description {
	width: 50%;
}
.ph-action {
	width: 15%;
}
.ph-title {
	width: 60%;
}
.ph-title-small {
	width: 10%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-map {
	width: 20%;
}

.ph-exchange-rate {
	width: 15%;
}

.ph-countries {
	width: 25%;
}
.ph-regions {
	width: 25%;
}

.ph-rule {
	width: auto;
}

.ph-min-purchase,
.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-plugincode-td {
color: #999;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}

.ph-incoming-page {
	width: 10%;

}





.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}







.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}

.ph-w30 {
	width: 30%;
}
.ph-w40 {
	width: 40%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 49%;
}
.ph-cpanel-right {
	float: right;
	width: 49%;
}

.ph-cpanel-right-box {
	background: #f5f5f5;
	padding: 15px;
	margin-top: 10px;
	margin-right: -25px;
}






#configTabs li a img {
	margin-top: -3px;
}


.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

div.icon-48-info {
	background: url('../../images/icon-48-info.png') no-repeat left;
}
div.icon-48-phoca {
	background: url('../../images/icon-48-phoca.png') no-repeat left;
}
div.icon-48-orders {
	background: url('../../images/icon-48-order.png') no-repeat left;
}
div.icon-48-costs {
	background: url('../../images/icon-48-cost.png') no-repeat left;
}








a img, img {border:0px;text-decoration:none;}

.p-noscript {
	text-align:	center;
	background:	#ffcc00;
	padding:	10px;
}

#phocamaps .p-add-address {
	margin-top: 10px;
}

.license {
	text-align:justify;
	font-size: 9px;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
}

/*form*/
#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single,
#phAdminEdit select[readonly] {
	background: #D9D9D3 !important;
	color: #000 !important;
	border: 1px solid #aaa !important;
}
#phAdminEditPopup  input[readonly],
#phAdminEdit input[readonly],
input.pmreadonly {
	background: #ecece9 !important;
	color: #777 !important;
}

#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single:focus,
#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single:hover,
#phAdminEdit select[readonly]:focus,
#phAdminEdit select[readonly]:hover {
	background: #D9D9D3 !important;
	color: #000 !important;
	border: 1px solid #aaa !important;
}

#phAdminEditPopup  input[readonly]:focus,
#phAdminEditPopup  input[readonly]:hover,
#phAdminEdit input[readonly]:focus,
#phAdminEdit input[readonly]:hover,
input.pmreadonly:focus,
input.pmreadonly:hover {
	background: #ecece9 !important;
	color: #777 !important;
}



.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
	color: #777;
}
.cpanel-right {
	color: #777;
}

#phocamaps img {
  max-width: none;
}


#phocacartmanager .ph-admin-path {
	border: 1px solid #ccc;
	background: #f0f0f0;
	padding: 10px;
	margin:5px 0px;
}
#phocacartmanager .ph-admin-files {
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px;
	margin:5px 0px;
}

#phocacartmanager .ph-admin-file {
	padding:3px 0px;
	margin:0px;
}
#phocacartmanager .ph-admin-file-checkbox {
	padding:3px 0px;
	margin:7px 0px;
	background: #f9f9f9;
	border-bottom: 1px solid #f0f0f0
}

/*
.ph-background-loading {
	filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
	width: 100%;
	height: 100%;
	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9998;
}

.ph-message-loading {
	position:absolute;
	top:200px;
	left:0;
	right:0;
	width:70%;
	background:#ffffff;
	border:5px solid #ccc;
	padding:50px;
	margin: 0 auto;
	text-align:center;
	z-index: 9999;
	font-size: x-large;
	color: #ccc;
}
*/

/* CSS Loading */
/* Standard Message */
.ph-loader {
  margin: 1em auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.6em solid #C1E2F1;
  border-right: 0.6em solid #C1E2F1;
  border-bottom: 0.6em solid #C1E2F1;
  border-left: 0.6em solid #0069cc;
  -webkit-animation: load8 0.9s infinite linear;
  animation: load8 0.9s infinite linear;
}
.ph-loader,
.ph-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.ph-ajax-message {
	background: #E5F3FF;
	text-align:center;
	padding: 10px;
	margin: 5px auto 10px auto;
	color:  #0069cc;
	font-weight: bold;
	border-radius: 3px;
	border: 0px;
}

/* Top Message */
.ph-loader-top,
.ph-loader-top-transparent {
  margin: auto;
  font-size: 1em;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid #fff;
  border-right: 0.3em solid #fff;
  border-bottom: 0.3em solid #fff;
  border-left: 0.3em solid rgba(255,255,255,0.5);
  -webkit-animation: load8 0.9s infinite linear;
  animation: load8 0.9s infinite linear;
   margin-bottom: 0.6em;
   margin-top: 0.5em
}
.ph-loader-top-transparent {
	border: 0.6em solid transparent;

}


.ph-loader-top,
.ph-loader-top-transparent,
.ph-loader-top:after,
.ph-loader-top-transparent:after {
  border-radius: 50%;
  width: 2.0em;
  height: 2.0em;
}





@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#ph-ajaxtop-message {
	position:fixed;
	top:0.3em;
	left:0;
	right:0;
	width:50%;
	background: #fdd043;
	background-image: linear-gradient(to right, #fdd043 0%, #fcc311 100%);
	border-radius: 2px;
	padding: 0;
	margin: 0 auto;
	text-align:center;
	z-index: 9999;
	color: #fff;
	font-weight: bold;
}

#ph-ajaxtop-close {
	float: right;
	font-weight: bold;
	color: #fff;
	padding: 0.2em 0.5em;
	cursor: pointer;
	border-radius: 2px;
	background: rgba(255,255,255, 0.5);
}

.ph-progressbar-bottom {
	background: #fff;
	background: linear-gradient(to right, rgb(255,255,255,0.3), rgb(255,255,255,0.5));
	height: 5px;
	width: 100%;
	padding:0;
	border-radius: 0 0 2px 2px;
	margin: 0.7em 0 0 0;
}


#ph-ajaxtop {
	display: none;
}


#ph-ajaxtop-message .ph-result-txt {
	margin-top:1em;
	color:#fff;
	font-weight: bold;
	font-size: 1.2em;
	display:block;
}

#ph-ajaxtop-message .ph-info-txt{

}
#ph-ajaxtop-message .ph-info-txt:before {
	font-family: "Glyphicons Halflings";
	content: "\e086";
	color: #3bafda;
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 2em;
	left: 0.4em;
	/*margin-top: -0.3em;*/

}

#ph-ajaxtop-message .ph-success-txt {

}
#ph-ajaxtop-message .ph-success-txt:before {
	font-family: "Glyphicons Halflings";
	content: "\e086";
	color: #00b19d;
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 2em;
	left: 0.4em;
	/*margin-top: -0.3em;*/
}
#ph-ajaxtop-message .ph-error-txt {
}

#ph-ajaxtop-message .ph-error-txt:before {
	font-family: "Glyphicons Halflings";
	content: "\e086";
	color: #f76397;
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 2em;
	left: 0.4em;
	/*margin-top: -0.3em;*/
}

.ph-add-item {
	float: left;
	margin-top:5px;
}

.ph-remove-row {
	float: left;
	margin-top: 5px;
	margin-left: 10px;

}
.ph-add-row {
	padding-top: 10px;
}

.ph-u {
	text-decoration: underline;
}

#ph-sandbox-msg {
	display: none;
}


.ph-cb {
	clear: both;
}
.ph-pad-b {
	padding-bottom: 10px;
}

/* Stars */
span.ph-stars, span.ph-stars span {
    display: block;
    background: url(../../images/star-small.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.ph-stars span {
    background-position: 0 0;
}

.ph-notes-box {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

.ph-items-image-box img {
	width: 80%;
	height: auto;
}
.ph-cart-info-box {

}
.ph-cart-info-box table {
	width: 50%;
}
.ph-cart-info-box .ph-hr {
	border-bottom: 1px solid #ccc;
}
.ph-cart-info-box .ph-cart-total {
	font-weight: bold;
}

.ph-last-cart-activity {
	margin-top: 20px;
}

.ph-control-group-text {
	margin-top:-15px;
	margin-bottom: -15px;
}
table.ph-order-products tr {
	margin-top:5px;
	margin-bottom: 5px;
}
.ph-order-products-hr {
	border-bottom: 1px solid #ddd;
}

td.ph-p-r-med {

padding-right: 40px !important;

}
.ph-total-center a,
.ph-total-center {
	text-align: center !important;

}

.ph-tax-edit,
.ph-order-status-edit {
	width: 100%;
}

.ph-tax-edit-header,
.ph-order-status-edit-header {
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ph-tax-edit-item,
.ph-order-status-edit-item {
	border-bottom: 1px solid #ddd;
	padding-top: 7px;
	padding-bottom: 7px;
}



.ph-tax-edit-button {
	margin: 5px;
}

.ph-tax-edit-button button span.icon-edit:before,
.ph-order-status-edit-button button span.icon-edit:before  {
	color: #fff;
}



table.ph-table-order-link,
table.ph-table-download-links {
	width: 100%;
	text-align:left;
}

table.ph-table-order-link tr th.title,
table.ph-table-download-links tr th.title {
	width: 10%;
}
table.ph-table-order-link tr th.link,
table.ph-table-download-links tr th.link {
	width: 90%;
}

.ph-col-add-suffix {
	font-size: xx-small;
	color: #555;
	text-align: center;
}
.ph-col-add-cur {
	font-size: xx-small;
	color: #555;
	text-align: right;
}

.ph-col-title-small {
    font-size: xx-small;
    color: #555;
    text-align: left;
}
.ph-inline-param {
	margin: auto 10px;
	float: left;
}

.ph-inline-param .field-calendar {
	display: inline;
}

/* Charts */
.ph-chart-canvas-holder {
	padding:5px;
}


.ph-chart-box-line {
	width: 92%;
}

.ph-chart-area-line {
	width:100%;
	height:auto;
}
.ph-chart-legend {
	text-align: center;
	margin: 0 auto;
	font-size: x-small;
	color: #555;
}
.ph-amount {
	background-color: #9ebecf;
	width: 2em;
	display: inline-block;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.ph-orders {
	background-color: #DCDCDC;
	width: 2em;
	display: inline-block;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.ph-btn-toolbar-2 {
	clear: right;
	padding-top: 10px;
}
.ph-select-status {
	padding-left: 5px;
}

.ph-table-td-left {
	padding-left: 5em;
	text-align:right;
}

.ph-admin-stat-row {

}
.ph-admin-stat-box h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 7px;
}
.ph-admin-stat-box {
	text-align: left;
	padding: 7px;
}

.ph-stats-canvas {
	text-align: left;
}

.ph-float-right {
	float: right;
}
.ph-clear-right {
	clear:right;
}
.ph-float-icon {
	float: right;
}
.ph-float-icon-l {
	float: left;
}
.ph-float-default {
	float:right;
	margin-right: 30px;
}
.ph-float-default-header {
	float:right;
	margin-right: 45px;
}

.ph-icon-remove {
	color: #942A25;
	font-size: 130%;
}

.btn-xs {
	padding: 4px 7px 1px 5px !important;
}

.btn.btn-transparent {
	background: transparent !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
	padding: 3px !important;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:focus,
.btn.btn-transparent:visited {
	background: transparent !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
}
.ph-icon-success {
	color: #378137;
	font-size: 130%;
}
.ph-icon-success-txt {
	color: #378137;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-icon-danger {
	color: #942A25;
	font-size: 130%;
}
.ph-icon-danger-txt {
	color: #942A25;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-icon-warning {
	color: #C67605;
	font-size: 130%;
}
.ph-icon-warning-txt {
	color: #C67605;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-stat-total {
	margin-top: 5px;
	border-top: 1px solid #fff;
	padding: 5px;
}



/* Full site overlay plus loader - used when reloading the page */
#phLoaderFull {
  margin: auto auto;
  top: 50%;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #C1E2F1;
  border-right: 1.1em solid #C1E2F1;
  border-bottom: 1.1em solid #C1E2F1;
  border-left: 1.1em solid #45A7D4;
  -webkit-animation: load8 1.3s infinite linear;
  animation: load8 1.3s infinite linear;
}
#phLoaderFull,
#phLoaderFull:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin-top: -10em;

}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#phOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 10000;
	display:none;
}

.ph-br-small {
	font-size: 3px;
	height: 3px;
}
/*
.view-phocacartzones [class^="icon-"].ph-icon-earth::before,
.view-phocacartzones [class*=" icon-"].ph-icon-earth::before,
.view-phocacartzone [class^="icon-"].ph-icon-earth::before,
.view-phocacartzone [class*=" icon-"].ph-icon-earth::before,

.view-phocacartcountries [class^="icon-"].ph-icon-earth::before,
.view-phocacartcountries [class*=" icon-"].ph-icon-earth::before,
.view-phocacartcountry [class^="icon-"].ph-icon-earth::before,
.view-phocacartcountry [class*=" icon-"].ph-icon-earth::before,

.view-phocacartregions [class^="icon-"].ph-icon-earth::before,
.view-phocacartregions [class*=" icon-"].ph-icon-earth::before,
.view-phocacartregion [class^="icon-"].ph-icon-earth::before,
.view-phocacartregion [class*=" icon-"].ph-icon-earth::before,

.view-phocacartimports [class^="icon-"].ph-icon-import::before,
.view-phocacartimports [class*=" icon-"].ph-icon-import::before,
.view-phocacartexports [class^="icon-"].ph-icon-export::before,
.view-phocacartexports [class*=" icon-"].ph-icon-export::before,*/


#ph-icon-text.ph-icon-text::before,
#ph-icon-pdf.ph-icon-pdf::before,
#ph-icon-wizard.ph-icon-wizard::before {
    font-family: "Glyphicons Halflings";
    font-style: normal;
}

.admin.com_phocacart [class^="icon-"].icon-earth::before,
.admin.com_phocacart [class*=" icon-"].icon-earth::before,
.admin.com_phocacart [class^="icon-"].icon-import::before,
.admin.com_phocacart [class*=" icon-"].icon-import::before,
.admin.com_phocacart [class^="icon-"].icon-export::before,
.admin.com_phocacart [class*=" icon-"].icon-export::before {

	font-family: "Glyphicons Halflings";
    font-style: normal;
}

.admin.com_phocacart [class^="icon-"].icon-earth::before,
.admin.com_phocacart [class*=" icon-"].icon-earth::before {

	content:"\e135";
}

.admin.com_phocacart [class^="icon-"].icon-import::before,
.admin.com_phocacart [class*=" icon-"].icon-import::before {

}
.admin.com_phocacart [class^="icon-"].icon-export::before,
.admin.com_phocacart [class*=" icon-"].icon-export::before {

}

#toolbar #toolbar-wizard {
    float: right;
}


.import-export-box {
	background: #fff;
	padding: 10px;
	border-radius: 3px;
}

.import-export-desc {
	margin-bottom: 5px;
}

.import-export .import-export-row {
	margin-left: 10px;
}
.import-export .import-export-row-message {
	margin-left: 0px;
}

.circle-active,
.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: px;
    background: transparent;
    border: 4px solid #ccc;
    color: #ccc;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
	font-weight: bold;
	float: right;
}
.circle-active {
	border: 4px solid #5FBA7D;
    color: #5FBA7D;
}


/*
.ph-option-box input{
	border: 1px solid #fff !important;
}
*/
/*
table tr td,
tr td,
td,
.span1, .span2,
.col-xs-12 {
	border: 1px solid red !important;
}
*/
.ph-vertical-align {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}
.ph-vertical-align-single {
	margin-top: 5%;
}


#phAdminView .modal-body {
	padding: 10px;
}
/*
#phWizardStatusModal .modal-header,
#phWizardStatusModal .modal-footer,*/
#phWizardStatusModal .modal-body {
	background: url('../../images/administrator/bg-wizard.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ph-body-iframe-wizard {
	background: transparent;
}

.ph-body-iframe-wizard div .ph-modal-content-header {
	color: #fff;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

/*
#phWizardStatusModal .modal-body{overflow: hidden !important;}
#phEditStatusModal .modal-body{overflow: hidden !important;}
#phViewCartModal .modal-body{overflow: hidden !important;}
.ph-body-iframe-wizard { height: auto;}*/

.ph-wizard-start-page-box {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 5px;
	padding: 10px;
}
.ph-wizard-start-page-window {
	padding-top: 5px;
}
.ph-wizard-start-page-window.firstpage {
	color: #fff;
}
.ph-wizard-start-page-window.nextpage {
	color: #000;
}
.ph-wizard-start-page-window.nextpage a,
.ph-wizard-start-page-window.nextpage a:hover,
.ph-wizard-start-page-window.nextpage a:focus,
.ph-wizard-start-page-window.nextpage a:visited {
	color: #000;
	text-decoration: underline;
}

.ph-wizard-start-page-window a,
.ph-wizard-start-page-window a:hover,
.ph-wizard-start-page-window a:focus,
.ph-wizard-start-page-window a:visited {
	color: #fff;
	text-decoration: underline;
}

.ph-wizard-start-page-window a.btn,
.ph-wizard-start-page-window a.btn:hover,
.ph-wizard-start-page-window a.btn:focus,
.ph-wizard-start-page-window a.btn:visited {
	text-decoration: none;
	width: 13em;
	color: #fff;
}

.ph-wizard-top-text {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ph-wizard-center-button {
	margin: auto;
	text-align: center;
	margin: 10px auto;
}

.ph-wizard-center-button .ph-btn {
	background: rgba(0,0,0, 0.4) !important;
	border: 2px solid #fff !important;
}

.ph-wizard-center-button .ph-btn:hover,
.ph-wizard-center-button .ph-btn:focus,
.ph-wizard-center-button .ph-btn:visited {
	background: rgba(0,0,0, 1) !important;
	border: 2px solid #fff !important;
}

.ph-wizard-row div{
	padding: 5px 5px;
}
.ph-wizard-row {
	border-bottom: 1px solid #f7f7f7;
}

.ph-true {
	color: #449C44;
	font-weight: bold;
}
.ph-false {
	color: #E1302D;
	font-weight: bold;
}

#phResultWizardAll {

	background: #DFF0D8;
	color: #449c44;
	margin-bottom: 10px;
	font-weight: bold;
	border-left: 5px solid #449c44;

}
#phResultWizardAll div {
	margin: 10px;
}

.ph-modal-header {
	margin: 20px 5px 5px 5px;
}

.ph-header-table {
	border-bottom: 3px solid #f7f7f7;
}
.ph-body-table,
.ph-footer-table {
	border-bottom: 1px solid #f7f7f7;
}

.ph-edit-price-history-box,
.ph-edit-stock-advanced-box {
	padding: 10px;
}

.ph-item-input-set-attributes .ph-checkbox {
	padding-top: 0px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: -5px;
}

.ph-icon-white::before {
	color: #fff !important;
}

.ph-attribute-option-item {
    border: 1px solid #3BAFDA;
    color: #fff;
    background: #3BAFDA;
	padding: 3px;
	border-radius: 3px;
	font-weight: bold;
}

.ph-attribute-option-box tr td input {
	margin: 3px;
}

.ph-attribute-option-box,
.ph-attribute-option-box tr td,
.ph-attribute-option-box tr th {
	padding: 5px;
}


#phAdminView .approved {
	opacity: 1;
}
#phAdminView .not-approved {
	opacity: 0.5;
}


.ph-pull-left {
	float: left;
}
.ph-pull-right {
	float: right;
}

.ph-important-text {
	color: #a94442;
	font-weight: bold;
}

.ph-cpanel-logo img {
	width: 70%;
    height: auto;
}

.ph-order-info-box .label {
	margin: 1px;
}

.ph-no-wrap {
	white-space: nowrap;
}

table.ph-report-table {
	padding: 3px;
	border: 1px solid #f0f0f0;
	width: 100%;
}

table.ph-report-table,
table.ph-report-table tr,
table.ph-report-table tr td {
	padding: 3px;
	border: 1px solid #f0f0f0;
}

table.ph-report-table tr th {
	padding: 5px;
	color: #129ED9;
	border: 1px solid #f0f0f0;
	border-bottom: 3px solid #129ED9;

}

table.ph-report-table tr td {
	padding: 0.2em 1em;
}

.ph-report-brutto,
.ph-report-tax,
.ph-report-netto,
.ph-report-rounding {
	text-align: right;
}
.ph-report-currency {
	text-align: center;
}

table.ph-report-table tr#phReportTotalRow0{
	border-top: 3px solid #f0f0f0;
}
table.ph-report-table tr.ph-report-total-row td {
	background: #ffffbf;
	vertical-align: top;
	text-align: right;
	padding: 0.2em 1em;
	font-weight: bold;
}
table.ph-report-table tr.ph-report-total-row td.ph-report-total-col1 {
	text-align: left;
	padding: 0.2em 1em;
	font-weight: bold;
	vertical-align: middle;
}

/* edit in place */

.ph-editinplace-text {
	background: #f5f5f5;
	position:relative;
	padding: 0.5em;
}

.ph-editinplace-text form {


	background-color: #fff;
	border:1px solid #f0f0f0;
	box-shadow: 2px 2px 0px 0px #d0d0d0;
	width: 26em;
	height: 5em;
	padding: 1em;
	z-index: 1000;
	position: absolute;
	left: -4em;
}

.ph-editinplace-text form button {
	margin: 0 0 0 0.5em;
}
.ph-editinplace-text form input {

	width: 8em !important;
	margin: -1px 0 0 0.5em !important;

}

.ph-editinplace-text.ph-eip-price form input {


}

.ph-editinplace-text.ph-eip-sku form input {

}
/*
.ph-product-attribute-download-title {
	text-align: right;
}

.ph-product-attribute-new-row {
	margin-top: 3px;
}*/





/* Tooltip container */
.ph-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.ph-tooltip .ph-tooltiptext {
  visibility: hidden;
  width: 14em;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  color: #000;
  text-align: center;
  padding: 0.2em;

  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  /*margin-left: -7em; /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -2em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ph-tooltip:hover .ph-tooltiptext {
  visibility: visible;
}

#phAdminEdit .form-horizontal .tab-content {

	position: relative;
}
.ph-admin-additional-box {

	position: absolute;
	top: 0.3em;
	right: 0.3em;
	padding: 1em;
	background: #f0f0f0;


}
